/* header */
.header{
    display: flex;
    justify-content: space-between;
}
.text-header{
    width: 33.3%;
    text-align: center;
    color: red;
    margin-top: 180px;
    font-style: italic;
}
.logo{
    width: 33.3%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search{ 
    width: 33.3%;
    margin-top: 190px;
}

/* menu */
.menu{
    margin-left: -15px;
    margin-right: -15px;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* section1 */
.blue-text h2{
    color: #0EC0C3;
    text-align: center;
}
.sec1-left img{
    width: 100%;
}
.sec1-mid img{
    width: 60%;
    padding: 10px;
}
.sec1-right img{
    width: 60%;
    padding: 10px;
}

/* section2 */
.blue-text h1{
    color: #0EC0C3;
    text-align: center;
}
.sec2 img{
    margin-top: 30px;
    max-height: 220px;
}
.sec2 h3{
    color: orange;
    text-align: justify;
    font-size: 30px;

}
.sec2 p{
    text-align: justify;
    font-size: 15px;
}

/* section3 */
.blue-text h1{
    color: #0EC0C3;
    text-align: center;
    margin-bottom: 60px;
}
.sec3 img{
    width: 100%;
    height: 420px;
    padding-left: 20px;
}

/* footer */
.lefooter{
    background-color: #0EC0C3;
    padding: 10px;
    margin-top: 20px;
}
.lefooter p, h5{
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .text-header, .logo, .search{
        width: 100%;
    }
    .search{
        margin: 10px;
    }
    .menu ul{
        width: 100%;
        margin-right: -15px;
    }

    .sec1 h2{
        margin-left: 10px;
        margin-right: 10px;
    }
    .sec1-left img{
        width: 100%;
    }
    .sec1-mid img{
        width: 100%;
    }
    .sec1-right img{
        width: 100%;
    }

    .sec2 img{
        width: 100%;
    }
    .sec2 h3{
        margin-left: 70px;
    }
    .sec2 p{
        margin-left: 70px;
    }
}